
<p>{{title}}</p>
<p>Current users:{{userCount}}</p>
<p>
  status:{{isLoggedIn?'loggedin ':'logged Out'}}
</p>

<p>{{getWelcomeMessage()}}</p>



<button [disabled] ="isLoggedIn"(click)="login()">Login</button><br>
<h4>twoway data binding using ngModel</h4>
<input type="text" [(ngModel)]="userName"><br>
<h4>twoway data binding using both event and property binding</h4>

<input [value] ="email" (input)="email  = $event.target.value">

<h4>ngModelchange</h4>

<input  type="number" [ngModel]="age" (ngModelChange) = "age = +$event">

<h4>Event change</h4>
<label for="color"></label>
<select id="color" [(ngModel)] = 'selectColor'>
 <option value="">select a color</option>
  <option value="red">Red</option>
    <option value="blue">blue</option>
      <option value="black">black</option>
</select>

<h4> directives- ngIf</h4>
<p *ngIf = "showMessage">hii,i am learning angular</p>
<h4>fruits -ngFor</h4>
<ul>
  <li *ngFor="let fruit of fruits">{{fruit}}</li>
</ul>
<h4>ngSwitch</h4>
<div [ngSwitch]="role">
  <p *ngSwitchCase="'admin'">Welcome admin</p>
  <p *ngSwitchCase="'user'">Welcome user</p>
  <p *ngSwitchCase="'guest'">Welcome Guest</p>
</div>
<p [ngClass] ="isActive? 'active' : 'inactive'">ngclass</p>
<p [ngStyle]="{color : isRed? 'red':'blue'}">
   using ng style to change color
</p>
<button (click)=" isRed  = !isRed">
 color change
</button>

<h2>students list with trackby</h2>
<ul>
  <li *ngFor="let student of students;trackBy:trackByUserId">
    {{student.name}}

  </li>
</ul>

<h4>custom directive</h4>



<ul>
  <li *ngFor="let item of student|keyvalue" > {{item.key}} : {{item.value}} </li>
</ul>
<p>{{Message$|async}}</p>
<h4>async observable</h4>
<app-user></app-user>
<app-child [messageFromParent]="parentMessage"
 (dataEmitter)="handleDataFromChild($event)">
</app-child>
<p>Data received from child:{{inputValue}}</p>
<app-promise></app-promise>
<p appHighlight>This text is highlighted</p>

<app-greeting></app-greeting>
<h4>pipes in angular</h4>
<p>custom pipe:{{ someValue | customPipeName }}</p>
<p> pipe upper case:{{employee  | uppercase}}</p>
<p>{{price|currency:'INR'}}</p>
<P>{{today|date}}</P>
<p>pipe chaining {{today | date:'fullDate'|uppercase}}</p>
<p>{{name|uppercase}}</p>
<p>slice:{{'FRAMEWORK'|lowercase|slice:0:5}}</p>
<p>decimal:{{1234.567|number}}</p>
<p>percetage{{0.75|percent}}</p>
<p>Grade: {{ 82 | customPipeName }}</p>
